{% extends "base.html" %}
{% load bootstrap3 %}
{% load i18n %}
{% block page_title %}{% trans 'News' %}{% endblock %}
{% block content %}
    <div class="postlist">
    {% for post in news.object_list %}
        <div class="panel">
            <div class="panel-heading">
                <div class="text-center">
                    <div class="row">
                        <div class="col-sm-9">
                            <h3 class="pull-left">
                                <a href="{% url 'news_post' post.id %}">{{ post.title }}</a>
                            </h3>
                        </div>
                        <div class="col-sm-3">
                            <h4 class="pull-right">
                            <small><em>
                                {{ post.created|date:"j M Y" }}<br />
                                {{ post.created|date:"H:i" }}
                            </em></small>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel-body">
                {{ post.body|safe|truncatewords_html:"50"|linebreaks }}

                {% ifnotequal post.body|truncatewords_html:"50"|length post.body|truncatewords_html:"51"|length %}
                    <a href="{% url 'news_post' post.id %}">{% trans 'Read more' %}</a>
                {% endifnotequal %}
                <span class="pull-right">
                    <small>{% bootstrap_icon 'user' %} {{ post.user.get_full_name }}</small>
                </span>
            </div>
        </div>
    {% endfor %}
    {% bootstrap_pagination news %}
    </div>
{% endblock %}