{% extends "base.html" %}
{% load static %}
{% load bootstrap3 %}
{% load i18n %}

{% block page_title %}{% trans 'Choose your relatives' %}{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/dataTables.bootstrap.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/relatives_choice.css' %}" />
{% endblock %}

{% block content %}
    <div class="panel panel-info">
        <div class="panel-heading">{% trans 'Choose your relatives' %}</div>
        <div class="panel-body">
            <table id="relativesTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>{% trans 'Username' %}</th>
                        <th>{% trans 'Initials' %}</th>
                        <th>{% trans 'birthday' %}</th>
                        <th>{% trans 'Action' %}</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    {{ block.super }}

    <script type="text/javascript" src="{% static 'js/datatables.min.js' %}"></script>

    <script>
        var dataUrl = "{% url 'possible_relatives_table' %}";
        var requestUrl = "{% url 'json_relatives_choice' %}";
        var langUrl = "{% static 'DataTablesRussian.json' %}";
    </script>

    <script type="text/javascript" src="{% static 'js/relatives_choice.js' %}"></script>
{% endblock %}

