{% extends "base.html" %}
{% load bootstrap3 %}
{% load static %}
{% load i18n %}

{% block page_title %}{% trans 'Relationship clarification' %}{% endblock %}

{% block content %}
    <h2 class="page-header text-center">{% blocktrans with username=relative.username %}Relationship request from {{ username }}{% endblocktrans %}</h2>
    <h4>
        {% blocktrans with initials=relative.get_initials rel=rel_type %}{{ initials }} wants to be your <b>{{ rel }}</b>{% endblocktrans %}
    </h4>
    <form method="POST" class="form" role="form">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-6">
                <button type="submit" name="decline" value="True" class="btn btn-lg btn-danger btn-block">{% trans 'Decline' %}</button>
            </div>
            <div class="col-md-6">
                <button type="submit" name="accept" value="True" class="btn btn-lg btn-primary btn-block">{% trans 'Accept' %}</button>
            </div>
        </div>
    </form>

{% endblock %}