{% extends "base.html" %}
{% load static %}
{% load bootstrap3 %}
{% load i18n %}

{% block page_title %}{% blocktrans with username=user.username %}Profile of user "{{ username }}"{% endblocktrans %}{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/user_profile.all.css' %}" />
{% endblock %}

{% block modals %}
    <div class="modal fade" id="addRelativeModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="addRelativeModalTitle"></h4>
                </div>
                <div class="modal-body" id="addRelativeModalContent">
                    <p>{% trans 'To add your relative, go to their profile and redeem this code' %}:</p>
                    <h2 id="addRelativeCode"></h2>
                    <p>{% trans 'This code will be valid for' %} <span id="addRelativeCodeTime"></span></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Ok' %}</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="redeemCodeModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form method="POST">
                {% csrf_token %}
                <input type="hidden" name="redeem_relationship_code" value="True" />
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">{% trans 'Enter code' %}</h4>
                </div>
                <div class="modal-body" id="addRelativeModalContent">
                    <p>{% trans 'Enter code from your relative' %}:</p>
                    <input name="code" id="redeemCodeInput" type="text" class="form-control" autocomplete="off"
                           placeholder="{% trans 'Enter code' %}" />
                    <p id="redeemCodeInfo" style="display: none">
                        <b id="redeemCodeInitials"></b> <span id="redeemCodeNotice"></span>
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Cancel' %}</button>
                    <button type="submit" id="redeemCodeSubmit"
                            class="btn btn-primary" disabled>{% trans 'Submit' %}</button>
                </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="panel panel-info">
        <div class="panel-heading">{{ user.get_full_name }}</div>
        <div class="panel-body">
            <table class="table user_profile_table">
                <tbody>
                    <tr>
                        <td>{% trans "Initials" %}:</td>
                        <td>{{ user.get_initials }}</td>
                    </tr>
                    <tr>
                        <td>{% trans "user_profile_birthday" %}:</td>
                        <td>{% if user.birthday %}{{ user.birthday }}{% else %}<i>{% trans 'Unknown' %}</i>{% endif %}</td>
                    </tr>
                    <tr>
                        <td>{% trans "user_profile_email" %}:</td>
                        <td>{% if user.email %}{{ user.email }}{% else %}<i>{% trans 'Unknown' %}</i>{% endif %}</td>
                    </tr>
                    <tr>
                        <td>{% trans "user_profile_phone" %}:</td>
                        <td>{% if user.phone %}{{ user.phone }}{% else %}<i>{% trans 'Unknown' %}</i>{% endif %}</td>
                    </tr>
                    <tr>
                        <td>{% trans "Telegram account" %}:</td>
                        <td>
                            {% if user.telegram_id %}
                                @{{ user.telegram_username }}
                                <a href="{% url 'telegram_unlink' %}">
                                    <span class="small text-danger">
                                        {% trans 'Unlink' %}
                                    </span>
                                </a>
                            {% else %}
                                <i><a href="https://telegram.me/OlimpNwBot?start={{ user.get_telegram_deeplink }}">{% trans 'Connect' %}</a></i>
                            {% endif %}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="panel-footer clearfix">
            <div class="pull-right">
                <a href="{% url 'password_change' %}" class="btn btn-default">
                    {% bootstrap_icon 'edit' %} {% trans 'Change password' %}
                </a>
                <a href="{% url 'user_profile_edit' %}" class="btn btn-success">
                    {% bootstrap_icon 'edit' %} {% trans 'user_profile_edit_profile' %}
                </a>
            </div>
        </div>
    </div>

    <div class="panel panel-warning">
        <div class="panel-heading">{% trans 'Family relatives' %}</div>
        <div class="panel-body">
            <table id="relationshipTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>{% trans 'Relative' %}</th>
                        <th>{% trans 'Who' %}</th>
                        <th>{% trans 'Action' %}</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="panel-footer clearfix">
            <div class="pull-right">
                <div class="btn-group">
                    <button class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                        {% bootstrap_icon 'plus' %} {% trans 'Add relatives' %} <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#" id="addChildButton">{% trans 'Add a child' %}</a></li>
                        <li><a href="#" id="addParentButton">{% trans 'Add a parent' %}</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#" id="redeemCodeButton">{% trans 'I have an invitation code' %}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script>
        var dataUrl = "{% url 'relationship_table' %}";
        var langUrl = "{% static 'DataTablesRussian.json' %}";
        var codeUrl = "{% url 'get_relationship_code' %}";
        var infoUrl = "{% url 'relationship_code_info' %}";
    </script>
    <script type="text/javascript" src="{% static 'js/user_profile.all.js' %}"></script>
{% endblock %}