{% load i18n %}


{% with code=notice.data.invitation_code type=notice.data.relative_type %}
{% if notice.data.initials %}
    {% blocktrans with username=notice.data.username initials=notice.data.initials %}
        <p>{{ username }} ({{ initials }}) has chosen you as your relative!</p>
    {% endblocktrans %}
{% else %}
    {% blocktrans with username=notice.data.username %}
        <p>{{ username }}  has chosen you as your relative!</p>
    {% endblocktrans %}
{% endif %}
    {% if type == 'parent' %}
        <p><strong>{% trans "Don't forget that you can check your child academic progress in his profile!" %}</strong></p>
    {% endif %}
    <p>{% trans "You can accept invitation by clicking at the link at the bottom of message or in profile later." %}</p>
    <a href="{% url 'relationship_acceptance' relative=notice.actor %}" class="btn btn-info" role="button">{% trans 'Accept relationship' %}</a>
{% endwith %}

