{% extends "base.html" %}
{% load i18n %}
{% block page_title %}{% trans 'Submit application' %}{% endblock %}
{% block submit_application_button %}{% endblock %}
{% block content %}
<h3 class="page-header text-center">
    {% trans 'Submit application' %}
</h3>
<table class="table">
    <thead>
        <tr>
            <th>{% trans 'Period' %}</th>
            <th>{% trans 'Registration ends' %}</th>
            <th>{% trans 'Period dates' %}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for period in periods %}
            {% if period.registration_started %}
                <tr class="{% if period.registration_open %}success{% endif %}">
                    <td>{{ period.name }}</td>
                    <td>{{ period.registration_end|date:"j M Y H:i" }}</td>
                    <td>{{ period.begin|date:"j M Y" }} &ndash; {{ period.end|date:"j M Y" }}</td>
                    <td><b>
                        {% if period.registration_open %}
                            <a href="{% url 'applications_choose_group' period.id %}">
                                {% trans 'Submit application' %}
                            </a>
                        {% else %}
                            {% if period.ongoing %}
                                {% trans 'Ongoing' %}
                            {% else %}
                                {% if not period.began %}
                                    {% trans 'Not yet startedя' %}
                                {% else %}
                                    {% trans 'Ended' %}
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    </b></td>
                </tr>
            {% endif %}
        {% endfor %}
    </tbody>
</table>
{% endblock %}