{% extends "base.html" %}
{% block page_title %}Подать заявку в {{ period.name }}{% endblock %}
{% block submit_application_button %}{% endblock %}
{% block content %}
<h3 class="page-header text-center">
    Подать заявку в {{ period.name }}
</h3>
{% for group in groups %}
    <div class="col-xs-12 col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{ group.name }}</h3>
            </div>
            <div class="panel-body">
                {{ group.description|safe }}
                <br />
                <a href="#" class="btn btn-block btn-primary">
                    Подать заявку
                </a>
            </div>
        </div>
    </div>
{% endfor %}
{% endblock %}