{% extends "base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% block page_title %}{% trans 'Cancel application to' %} &quot;{{ group.name }}&quot; - {{ period.name }}?{% endblock %}
{% block submit_application_button %}{% endblock %}
{% block content %}
    <h3 class="page-header text-center">
        {% trans 'Cancel application to' %} &quot;{{ group.name }}&quot; &mdash; {{ period.name }}?
    </h3>
    <div class="alert alert-warning" role="alert">
        {% bootstrap_icon 'alert' %}
        <b>{% trans 'Are you sure?' %}</b>
        {% trans 'This action cannot be undone' %}
    </div>

    <a class="btn btn-lg btn-default" href="{% url 'applications_group_application' application.id %}">
        {% trans 'No, take me back' %}
    </a>
    <form style="display: inline;" action="{% url 'applications_delete' application.id %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="group_id" value="{{ group.id }}" />
        <button class="btn btn-lg btn-danger" type="submit">
            {% trans 'Yes, cancel application' %}
        </button>
    </form>
{% endblock %}