{% extends "base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% load static %}
{% block page_title %}{% trans 'Application to' %} &quot;{{ group.name }}&quot;{% endblock %}
{% block submit_application_button %}{% endblock %}
{% block css %}
    {{ block.super }}
    <link rel='stylesheet' type='text/css' href='{% static 'css/jquery-ui.min.css' %}' />
{% endblock %}
{% block content %}
    <h3 class="page-header text-center">
        <a href="{% url 'applications_group_application' application.id %}">{% trans 'Application to' %} &quot;{{ group.name }}&quot;</a>
    </h3>
    <div class="col-md-6 col-md-offset-3">
    <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% if render_file %}
    <div class="form-group">
        <label class="control-label" for="id_personal_data_doc">
            {% trans 'Personal data processing agreement' %}
        </label>
        <div class="row bootstrap3-multi-input">
            <div class="col-xs-12">
            {% if uploaded %}
                {% trans 'Uploaded' %}: <a href="{% url 'applications_group_application_doc' application.id uploaded %}">
                    {{ uploaded }}
                </a><br />
            {% trans 'Reupload' %}:
            {% endif %}
            <input type="file" name="personal_data_doc" title="" id="id_personal_data_doc" class=""
                   {% if not uploaded %}required="required"{% endif %}>
            </div>
        </div>
    </div>
    {% endif %}
    {% if personal_data_attachments %}
        <p>
        {% for attach in personal_data_attachments %}
            <a href="{{ attach.get_url }}">
                {% bootstrap_icon 'download' %}
                {{ attach.name }}
            </a><br />
        {% endfor %}
        </p>
    {% endif %}
    {% buttons %}
        {% if application.modifiable %}
        <button type="submit" class="btn btn-lg btn-primary btn-block">{% trans 'Submit' %}</button>
        {% endif %}
    {% endbuttons %}
    </form>
    </div>
{% endblock %}


{% block scripts %}
    {{ block.super }}
    <script type='text/javascript' src='{% static 'js/jquery-ui.min.js' %}'></script>

    <script type='text/javascript'>
        $( ".datepicker" ).datepicker({
            dateFormat: 'dd.mm.yy',
            changeYear: true,
            changeMonth: true,
            yearRange: "-100:+0"
        });
    </script>
{% endblock %}