{% extends "base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% block page_title %}{% trans 'Application to' %} &quot;{{ group.name }}&quot;{% endblock %}
{% block submit_application_button %}{% endblock %}
{% block content %}
    <h3 class="page-header text-center">
        {% trans 'Application to' %} &quot;{{ group.name }}&quot;
    </h3>
    <div class="panel panel-default">
        <div class="panel-heading">
            <a href="{% url 'applications_group_application_edit_info' group.id %}" class="btn btn-primary pull-right">
                {% bootstrap_icon 'pencil' %}
                {% blocktrans %}Tell us about you{% endblocktrans %}
            </a>
            <h4>
                {% trans "About yourself" %}
                {% if not application.is_general_filled %}
                    <span class="text-danger">
                        &nbsp; {% trans 'fill now' %}
                    </span>
                {% else %}
                    <span class="text-success">
                        &nbsp; {% trans 'filled' %}
                    </span>
                {% endif %}
            </h4>
        </div>
    </div>

    {% if application.theory_exam %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <a href="#" class="btn btn-primary pull-right">
                {% bootstrap_icon 'ok' %}
                {% trans 'Answer questions' %}
            </a>
            <h4>
                {% trans "Theory exam" %}
                &nbsp;
                {% if answered_theory < total_theory %}
                    <span class="text-danger">
                        {{ answered_theory }} {% trans 'out of' %} {{ total_theory }}
                    </span>
                {% else %}
                    <span class="text-success">
                        {{ answered_theory }} {% trans 'out of' %} {{ total_theory }}
                    </span>
                {% endif %}
            </h4>
        </div>
    </div>
    {% endif %}

    {% if application.practice_exam %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <a href="{% url 'applications_group_application_practice_exam' group.id %}" class="btn btn-primary pull-right">
                {% bootstrap_icon 'ok' %}
                {% trans 'Solve problems' %}
            </a>
            <h4>
                {% trans "Practice exam" %}
                &nbsp;
                {% if solved_practice < total_practice %}
                    <span class="text-danger">
                        {{ solved_practice }} {% trans 'out of' %} {{ total_practice }}
                    </span>
                {% else %}
                    <span class="text-success">
                        {{ solved_practice }} {% trans 'out of' %} {{ total_practice }}
                    </span>
                {% endif %}
            </h4>
        </div>
    </div>
    {% endif %}
{% endblock %}