{% extends "base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% block page_title %}{% trans 'Application to' %} &quot;{{ group.name }}&quot;{% endblock %}
{% block submit_application_button %}{% endblock %}
{% block content %}
    <h3 class="page-header text-center">
        {% trans 'Application to' %} &quot;{{ group.name }}&quot;
    </h3>
    {% if attachments %}
        <h4>{% trans 'Download' %}</h4>
        <ul>
        {% for attach in attachments %}
            <li>
                <a href="{{ attach.get_url }}">
                    {% bootstrap_icon 'download' %}
                    {{ attach.name }}
                </a>
            </li>
        {% endfor %}
        </ul>
    {% endif %}
    {% if confirm_submit %}
    <div class="alert alert-warning" role="alert">
        {% bootstrap_icon 'alert' %}
        <b>{% trans 'Are you sure?' %}</b><br />
        {% blocktrans %}
            Please check that everything is correct. You will not be able
            to edit your application after submitting.
        {% endblocktrans %}
        <br /><br />
        <form method="POST">
            {% csrf_token %}
            <a href="{% url 'applications_group_application' application.id %}" role="button"
               class="btn btn-default">{% trans 'Cancel' %}</a>
            <button type="submit" name="confirm_application_submit" class="btn btn-primary">
                {% trans 'Submit' %}
            </button>
        </form>
    </div>
    {% endif %}
    {% if application.status == application.TESTING_FAILED %}
        <div class="alert alert-danger" role="alert">
        <b>{% trans 'You failed testing' %}</b><br />
        {% blocktrans %}
            You didn't meet requirements for application to this group.
            Don't worry, perhaps you are not yet ready. You can
        {% endblocktrans %}
        <b><a href="{% url 'applications_move_group' application.id %}">
        {% blocktrans %}move your application to an easier group{% endblocktrans %}</a></b>.
        </div>
    {% endif %}
    {% if application.status == application.ACCEPTED %}
        <div class="alert alert-success" role="alert">
        <b>{% trans 'Congratulations' %}</b><br />
        {% blocktrans with period=group.period.name%}
            This application to {{ period }} was accepted!
            Soon, teacher will review this application and contact you if necessary.
        {% endblocktrans %}
        </div>
    {% endif %}
    {% if application.status == application.ENROLLED %}
        <div class="alert alert-success" role="alert">
        <b>{% trans 'Congratulations' %}</b><br />
        {% blocktrans with period=group.period.name%}
            You are now enrolled to {{ period }}!
            Please, draw up a camp voucher.
        {% endblocktrans %}
        </div>
    {% endif %}
    {% if application.status == application.ISSUED %}
        <div class="alert alert-success" role="alert">
        <b>{% trans 'Congratulations' %}</b><br />
        {% blocktrans with period=group.period.name%}
            You are now enrolled to {{ period }}!
            Your voucher is approved.
        {% endblocktrans %}
        </div>
    {% endif %}
    <div class="panel {% if parent_priv and application.modifiable and not confirm_submit %}
        panel-default{% else %}panel-primary{% endif %}">
        <div class="panel-heading">
            {% if parent_priv and application.modifiable and not confirm_submit %}
            <a href="{% url 'applications_group_application_edit_info' application.id %}" class="btn btn-primary pull-right">
                {% bootstrap_icon 'pencil' %}
                {% blocktrans %}Tell us about your child{% endblocktrans %}
            </a>
            {% elif parent_priv and application.modifiable and confirm_submit %}
            <a href="{% url 'applications_group_application_edit_info' application.id %}" class="btn btn-default pull-right">
                {% bootstrap_icon 'pencil' %}
                {% blocktrans %}Edit{% endblocktrans %}
            </a>
            {% endif %}
            <h4>
                {% if priv %}
                    {% trans 'About this student' %}
                {% elif parent_priv %}
                    {% trans "About your child" %}
                {% else %}
                    {% trans "About yourself" %}
                {% endif %}
                {% if parent_priv and application.modifiable and not confirm_submit %}
                    {% if not application.is_general_filled %}
                        <span class="text-danger">
                            &nbsp; {% trans 'fill now' %}
                        </span>
                    {% else %}
                        <span class="text-success">
                            &nbsp; {% trans 'filled' %}
                        </span>
                    {% endif %}
                {% endif %}
                {% if not parent_priv and application.modifiable and not confirm_submit %}
                    {% if not application.is_general_filled %}
                        <span class="italic">
                            &nbsp; ({% trans 'ask your parents to fill this now' %})
                        </span>
                    {% else %}
                        <span class="italic">
                            &nbsp; ({% trans 'filled by your parents' %})
                        </span>
                    {% endif %}
                {% endif %}
            </h4>
        </div>
        {% if not parent_priv or not application.modifiable or confirm_submit %}
            <table class="table">
            <tbody>
            {% for field in info_form %}
                <tr>
                <td>{{ field.label_tag }}</td>
                <td>
                    {% if field.name == 'personal_data_doc' %}
                        {% if personal_data_doc_name %}
                            <a href="{% url 'applications_group_application_doc' application.id personal_data_doc_name %}">
                                {{ personal_data_doc_name }}
                            </a>
                        {% else %}
                            <i>{% trans 'Not yet uploaded' %}</i>
                        {% endif %}
                    {% else %}
                        {{ field|linebreaksbr }}
                    {% endif %}</td>
                </tr>
            {% endfor %}
            </tbody>
            </table>
        {% endif %}
    </div>

    {% if application.theory_exam or application.practice_exam %}
    <hr />
        {% if not application.is_general_filled %}
            <div class="alert alert-warning">
                <b>{% blocktrans %}Some actions are disabled{% endblocktrans %}.</b><br />
                {% blocktrans %}Fill out information about yourself to continue{% endblocktrans %}.
            </div>
        {% endif %}
    {% endif %}

    {% if application.theory_exam %}
    <div class="panel panel-default">
        <div class="panel-heading">
            {% if application.modifiable and child_priv %}
                <a href="{% url 'applications_group_application_theory_exam' application.id %}"
                   class="btn btn-primary pull-right{% if not application.is_general_filled %} disabled{% endif %}">
                    {% bootstrap_icon 'ok' %}
                    {% trans 'Answer questions' %}
                </a>
            {% else %}
                <a href="{% url 'applications_group_application_theory_exam' application.id %}"
                   class="btn btn-default pull-right{% if not application.is_general_filled %} disabled{% endif %}">
                    {% trans 'Answers' %}
                    {% bootstrap_icon 'chevron-right' %}
                </a>
            {% endif %}
            <h4>
                {% if not application.modifiable %}
                    {% if application.theory_exam.passed %}
                        <span class="text-success">
                        {% bootstrap_icon 'ok' %}
                        </span>
                    {% else %}
                        <span class="text-danger">
                        {% bootstrap_icon 'remove' %}
                        </span>
                    {% endif %}
                    &nbsp;
                {% endif %}
                {% trans "Theory exam" %}
                &nbsp;
                {% if application.modifiable %}
                    {% if answered_theory < total_theory %}
                        <span class="text-danger">
                            {{ answered_theory }} {% trans 'out of' %} {{ total_theory }}
                        </span>
                    {% else %}
                        <span class="text-success">
                            {{ answered_theory }} {% trans 'out of' %} {{ total_theory }}
                        </span>
                    {% endif %}
                {% else %}
                    {% if application.theory_exam.passed %}
                        <span class="text-success">
                            {{ application.theory_exam.percentage }}
                        </span>
                    {% else %}
                        <span class="text-danger">
                            {{ application.theory_exam.percentage }}
                        </span>
                    {% endif %}
                {% endif %}
            </h4>
        </div>
    </div>
    {% endif %}

    {% if application.practice_exam %}
    <div class="panel panel-default">
        <div class="panel-heading">
            {% if application.modifiable and child_priv %}
                <a href="{% url 'applications_group_application_practice_exam' application.id %}"
                   class="btn btn-primary pull-right{% if not application.is_general_filled %} disabled{% endif %}">
                    {% bootstrap_icon 'ok' %}
                    {% trans 'Solve problems' %}
                </a>
            {% else %}
                <a href="{% url 'applications_group_application_practice_exam' application.id %}"
                   class="btn btn-default pull-right{% if not application.is_general_filled %} disabled{% endif %}">
                    {% trans 'Solutions' %}
                    {% bootstrap_icon 'chevron-right' %}
                </a>
            {% endif %}
            <h4>
                {% if not application.modifiable %}
                    {% if application.practice_exam.passed %}
                        <span class="text-success">
                        {% bootstrap_icon 'ok' %}
                        </span>
                    {% else %}
                        <span class="text-danger">
                        {% bootstrap_icon 'remove' %}
                        </span>
                    {% endif %}
                    &nbsp;
                {% endif %}
                {% trans "Practice exam" %}
                &nbsp;
                {% if application.modifiable %}
                    {% if solved_practice < total_practice %}
                        <span class="text-danger">
                            {{ solved_practice }} {% trans 'out of' %} {{ total_practice }}
                        </span>
                    {% else %}
                        <span class="text-success">
                            {{ solved_practice }} {% trans 'out of' %} {{ total_practice }}
                        </span>
                    {% endif %}
                {% else %}
                    {% if application.practice_exam.passed %}
                        <span class="text-success">
                            {{ application.practice_exam.percentage }}
                        </span>
                    {% else %}
                        <span class="text-danger">
                            {{ application.practice_exam.percentage }}
                        </span>
                    {% endif %}
                {% endif %}
            </h4>
        </div>
    </div>
    {% endif %}

    {% if parent_priv %}
        <hr />
        <div class="col-md-4">
            <form action="{% url 'applications_delete_confirmation' application.id %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-block btn-lg btn-danger">
                    {% bootstrap_icon 'trash' %}
                    {% trans 'Delete application' %}
                </button>
            </form>
        </div>
        {% if application.modifiable and not confirm_submit %}
            <div class="col-md-4 col-md-offset-4">
                <form method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="confirm_submit" value="True" />
                    <button type="submit" class="btn btn-block btn-lg btn-success"
                        {% if not application.is_general_filled %} disabled="disabled"{% endif %}>
                        {% bootstrap_icon 'ok' %}
                        {% trans 'Submit application' %}
                    </button>
                </form>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}