{% extends "base.html" %}
{% load i18n %}
{% load bootstrap3 %}

{% block title %}{% trans 'Password recovery' %}{% endblock %}

{% block content %}
<h2 class="text-center page-header">{% trans 'Password recovery' %}</h2>
<div class="col-md-4 col-md-offset-4">
    <div class="text-center">
        <p>{% trans 'You can reset your password here' %}</p>
        <div class="panel-body">
            <form class="form" method="POST">
                {% csrf_token %}

                {% bootstrap_form_errors form %}
                <fieldset>
                    <div class="form-group">
                        <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>

                        <input name="email" id="emailInput" placeholder="{% trans 'E-Mail address' %}" class="form-control" required="">
                        </div>
                    </div>
                    <div class="form-group">
                        <input class="btn btn-lg btn-primary btn-block" value="{% trans 'Send My Password' %}" type="submit">
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
{% endblock %}